ultralytics
tqdm
colorama
tabulate
Cython
scikit-image
python-dotenv
shapely
onnx
onnxruntime
pycocotools
PyYAML
scipy
onnxslim
onnxruntime-gpu
gradio
opencv-python
psutil
py-cpuinfo
huggingface-hub
safetensors
scikit-learn
loguru
gdown
ftfy
regex
lap
filterpy
numpy==1.26.4